.drinks-menu {
  background-color: rgba(36, 96, 208, 0.926);
  color: white;
  padding: 20px;
  position: fixed;
  top: 0;
  right: 0;
  height: 100%;
  width: 800px;
  overflow-y: auto;
  transition: transform 0.6s ease-in-out;
  transform: translateX(-100%);
}

.close-drink-menu-button {
  background-color: transparent;
  border: none;
  color: rgb(255, 255, 255);
  font-size: 20px;
  position: absolute;
  cursor: pointer;
  right: 10px;
  top: 10px;
}

.drink-menu-heading {
  font-family: "Italianno", cursive;
  font-size: 70px;
  text-align: center;
  margin-bottom: -50px;
}


.drink-menu-category-heading {
  font-family: "Italianno", cursive;
  font-size: 55px;
  margin-top: 50px;
  margin-bottom: -10px;
  text-align: left;
  border-bottom: 2px solid rgb(255, 255, 255);
  padding-bottom: 5px;
  letter-spacing: 3px;
  color: rgb(0, 255, 208);
}

.drink-list {
  list-style-type: none;
  padding: 0;
  font-family: Arial, sans-serif;
}

.drink-list li {
  padding-top: 15px;
  padding-bottom: 5px;
  border-bottom: 1px solid #000000;
  display: flex;
  flex-direction:column;
}

.drink-name {
  font-size: 30px;
  font-family: "Italianno", cursive;
}

.drink-price {
  font-size: 25px;
  font-family: "Italianno", cursive;
}



