@media only screen and (max-width: 767px) {

  .slogan-large-screen {
    display: none;
  }

  .main-container {
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: "Italianno", cursive;
    padding-left: 10px;
    padding-right: 10px;
  }

  .menu-heading-main {
    margin-bottom: -10px;
    text-align: center;
  }

  .menu-type-list {
    display: flex;
    justify-content: space-evenly;
    font-size: 15px;
    width: 300px;
  }



}



/* Large devices */

@media only screen and (min-width: 768px) {

.main-container {
  background-color: rgb(139, 0, 0);
  color: white;
  margin-left: -8px;
  margin-right: -8px;
}

.slogan-large-screen {
  text-align: center;
  font-family: "Italianno", cursive;
  font-size: 65px;
  padding-top: 40px;
  padding-left: 20px;
  padding-right: 20px;
}

.menu-section {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.menu-heading-main {
  text-align: center;
  font-family: "Italianno", cursive;
  font-size: 60px;
  margin-bottom: -20px;
}

.menu-type-list {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  width: 800px;
  font-family: "Italianno", cursive;
  font-size: 35px;
  margin-bottom: 50px;
}

.menu-link:hover {
  color: rgb(0, 0, 0);
  cursor: pointer;
}

}





